/* ===========================================================================
// ==== INCLUDED FONTS
// ======================================================================== */

/* Add the font files to this same directory */

@font-face {
  font-family: 'GillSans-Regular';
  font-display: swap;
  src: url('GillSans-Regular.woff2') format('woff2'),
    url('GillSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GillSans-Light';
  font-display: swap;
  src: url('GillSans-Light.woff2') format('woff2'),
    url('GillSans-Light.woff') format('woff');
}
