@keyframes delayedFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.delayed-fade-in {
  animation-name: delayedFadeIn;
  animation-duration: 0.33s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  2.5% {
    opacity: 1;
    pointer-events: all;
    -webkit-animation-timing-function: ease-out;
  }
  15% {
    opacity: 1;
    pointer-events: all;
  }
  17.5% {
    opacity: 0;
    pointer-events: none;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fadeInDown {
  from {
    letter-spacing: 0.1em;
    opacity: 0;
    transform: translateY(-0.25rem);
  }

  to {
    letter-spacing: 0;
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down {
  animation-name: fadeInDown;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInUp {
  from {
    letter-spacing: 0.1em;
    opacity: 0;
    transform: translateY(0.25rem);
  }

  to {
    letter-spacing: 0;
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}
