// ===========================================================================
// ==== FOOTER
// ===========================================================================

.footer {
  align-items: center;
  border-top: 1px solid $color-grey-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: $space-550;
  padding-top: $space-400;

  &__logo {
    width: 0.5rem;
  }
}
