// ===========================================================================
// ==== FOOTER
// ===========================================================================

.footer {
  background-color: $color-grey-1;
  padding-bottom: $space-500;
  padding-top: $space-500;

  @include mq($M) {
    padding-bottom: $space-600;
    padding-top: $space-600;
  }

  > .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    margin-bottom: $space-400;
    width: 12rem;

    @include mq($M) {
      width: 15rem;
    }
  }

  address {
    text-align: center;

    a {
      border-bottom: 1px solid $white;
    }
  }
}
