// ===========================================================================
// ==== FOOTER
// ===========================================================================

.footer {
  border-top: 3px solid $black;
  padding-bottom: $space-400;
  padding-top: $space-500;

  > .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    margin-bottom: $space-200;
    max-width: 25rem;
    width: 100%;
  }

  address {
    color: $black;
    font-size: 0.8125rem;
    text-align: center;
    text-transform: uppercase;

    a {
      color: $black;
    }
  }
}
