.project-grid {
  display: grid;
  gap: $space-400;
  margin-bottom: 1.125rem !important;
  margin-left: auto;
  margin-right: auto;
  width: 66.66666%;

  @include mq($M) {
    grid-template-columns: repeat(2, 1fr);

    &__item {
      max-width: none;

      // 2/8 - 1 col wide and 2 rows tall
      &:nth-of-type(8n + 2):has(+ .project-grid__item) {
        grid-row: span 2;

        .homepage-card {
          height: 100%;

          .homepage-card__image {
            position: static;

            > div {
              display: none;
            }
          }
        }
      }

      // 4/8 - 1 col wide and 2 rows tall
      &:nth-of-type(8n + 4):has(+ .project-grid__item) {
        grid-row: span 2;

        .homepage-card {
          height: 100%;

          .homepage-card__image {
            position: static;

            > div {
              display: none;
            }
          }
        }
      }

      &:nth-of-type(odd):not(:has(+ .project-grid__item)) {
        grid-column: span 2;
      }
    }
  }
}
