.project-grid {
  display: grid;
  gap: $space-400;
  margin-bottom: $space-500 !important;
  margin-left: auto;
  margin-right: auto;

  @include mq($M) {
    width: 95%;
  }

  &__item {
    max-width: none;
  }

  @include mq($M) {
    grid-template-columns: repeat(3, 1fr);

    &__item {
      a {
        &:focus-visible {
          outline-color: $white;
          outline-offset: 4px;
          outline-width: 1px;
        }
      }

      // 1/7 - 3 cols wide and 3 rows tall
      &:nth-of-type(7n + 1) {
        grid-column: span 3;
        grid-row: span 3;

        .video-card {
          height: 100%;
        }
      }
      // 6/7 - 2 cols wide and 2 rows tall
      &:nth-of-type(7n + 6) {
        grid-column: span 2;
        grid-row: span 2;

        .video-card {
          height: 100%;
        }
      }
    }
  }
}
