.three-col-grid {
  padding: 0;

  &__list {
    display: grid;
    gap: $space-500;
    margin-bottom: 1.125rem !important;
    margin-left: auto;
    margin-right: auto;

    @include mq($M) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    max-width: none;
  }
}
