.three-col-grid {
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  @include mq($M) {
    width: 95%;
  }

  &__list {
    display: grid;
    gap: $space-500;
    margin-bottom: 1.125rem !important;

    @include mq($M) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    max-width: none;

    a {
      &:focus-visible {
        outline-color: $color-grey-1;
        outline-offset: 4px;
        outline-width: 1px;

        .video-card__content {
          opacity: 1;
        }
      }
    }

    .video-card__content {
      @include mq($M) {
        font-size: 1.125rem;
      }
    }
  }
}
