.homepage-card {
  position: relative;

  &__content-wrapper {
    bottom: $space-200;
    left: $space-300;
    position: absolute;

    @include mq($L) {
      bottom: $space-300;
    }
  }

  &__content {
    color: $white;

    @include mq($M) {
      font-size: 1.5rem;
    }
  }

  &__client {
    text-transform: uppercase;
  }
}
