.about {
  display: flex;
  flex-direction: column;
  gap: $space-500;

  &__copy {
    p {
      font-family: $font-light;
      font-size: 1.25rem;
      letter-spacing: 0.15em;
      max-width: none;
    }
  }
}
