.about {
  display: flex;
  flex-direction: column;
  gap: $space-500;

  @include mq($M) {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

  &__copy {
    margin-bottom: $space-500;

    p {
      font-family: $font-light;
      font-size: 0.875rem;
      letter-spacing: 0.1em;
      max-width: 47.5rem;

      @include mq($M) {
        font-size: 1rem;
      }
    }
  }
}
