.contact {
  font-family: $font-light;
  font-size: 1.125rem;
  letter-spacing: 0.15em;
  line-height: 1.25;
  padding-bottom: $space-700;
  padding-top: $space-300;

  &__map {
    margin-bottom: $space-500;
    margin-left: auto;
    margin-right: auto;

    @include mq($M) {
      width: 95%;
    }
  }

  #map {
    aspect-ratio: 555/312;
  }

  &__copy {
    text-align: center;

    p {
      margin-bottom: $space-400;
      max-width: none;
    }

    a {
      color: $white;

      &:focus-visible {
        outline-color: $white;
        outline-offset: 4px;
        outline-width: 1px;
      }
    }
  }

  address {
    margin-bottom: $space-600;
    text-transform: uppercase;
  }
}
