.contact {
  font-family: $font-light;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  line-height: 1.25;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: $space-700;

  @include mq($M) {
    font-size: 1rem;
  }

  &__map {
    margin-bottom: $space-300;
    margin-left: auto;
    margin-right: auto;
  }

  #map {
    aspect-ratio: 555/312;
  }

  &__copy {
    p {
      margin-bottom: $space-400;
      max-width: none;

      @include mq($M) {
        margin-bottom: $space-200;
      }
    }

    a {
      &:focus-visible {
        outline-color: $color-grey-1;
        outline-offset: 4px;
        outline-width: 1px;
      }
    }
  }

  address {
    margin-bottom: $space-600;
    text-align: center;
    text-transform: uppercase;
  }
}
