.work-detail {
  border-bottom: 3px solid $white;
  margin-bottom: $space-500;
  padding-bottom: $space-550;

  &__video {
    background-color: $black;
    margin-bottom: $space-550;
    position: relative;

    iframe {
      &:focus {
        border: 1px solid $blue;
      }
    }
  }

  &__thumbnail-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    transition: opacity 1s ease-out;

    &:focus-visible {
      outline-color: $white;
      outline-offset: 4px;
      outline-width: 1px;
    }

    &::after {
      content: url('/icon-play.svg');
      position: absolute;
      width: 24px;
    }

    &.is-playing {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__video-wrapper {
    animation: fadeIn 2s ease-out;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__meta {
    transform: translateX(-$space-200);
  }

  &__heading {
    font-size: 2.25rem;
    letter-spacing: 0.2em;
    margin-bottom: $space-300;
    text-align: center;
  }

  &__client {
  }

  &__title {
    font-family: $font-light;
    font-weight: 300;
  }

  &__meta {
    font-size: 1.25rem;
    line-height: 1.25;
    text-align: center;

    &-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: auto;
      margin-right: auto;

      strong {
        text-align: right;
      }

      span {
        padding-left: $space-200;
        text-align: left;
      }

      &:not(:last-child) {
        margin-bottom: $space-100;
      }
    }
  }
}
